[env]
_.file = ".env"
REDIS_ADDR = "127.0.0.1:6379"
DEV = "true"

[tools]
nodejs = "19.3.0"
golang = "1.25.1"
staticcheck = 'latest'

[vars]
filename = 'guess-my-word'

[tasks.default]
description = "Execute the app in development mode"
depends = ["build"]
run = ["docker compose up -d --wait", "./{{vars.filename}}"]

[tasks.build]
description = "Execute the app in development mode"
depends = ["dependencies", "test", "lint"]
env.CGO_ENABLED = "0"
run = ["go build -o ./{{vars.filename}}"]

[tasks.dependencies]
description = "Download binary dependencies"
run = ["go mod download"]

[tasks.test]
description = "Unit tests"
depends = ["dependencies"]
env.DEV = "false"
env.CGO_ENABLED = 1                                    # Required for -race
run = ["go test -race -covermode=atomic -cover ./..."]

[tasks.lint]
depends = ["dependencies"]
run = ["go vet ./...", "staticcheck ./..."]
