/* Screen */
body {
  background-color: #224;
  color: #eee;
}

body.mode-hard {
  background-color: #422;
  color: #eee;
}

a {
  color: #eee;
  text-decoration: underline;
}

header {
  background-color: #5295de;
  padding: 10px 20px;
  margin-bottom: 1em;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

header img {
    display: inline-block;
    max-height: 2em;
  }

header h1 {
  display: inline;
  font-size: 30px;
}

hr {
  border-color: #eee;
}

/* Application */

#between-logo {
  height: 3em;
}

#after {
  font-size: 1em;
  color: #999;
}

#after li:last-child {
  font-size: 2em;
  color: #111;
}

#after li.placeholder, #before li.placeholder {
  font-size: 1em !important;
  color: #999 !important;
}

#before {
  font-size: 1em;
  color: #999;
}

#before li:first-child {
  font-size: 2em;
  color: #111;
}
