<header>
  <h1>
    <a href="<%= rootPath() %>"><img src="<%= rootPath() %>assets/images/logo.svg"
        alt="Question by Gregor Cresnar from the Noun Project, https://thenounproject.com/search/?q=question&i=540041" /></a>

    <%= t("welcome_greeting") %>
  </h1>
</header>

<div class="row">
  <div class="col-md-12">
    <p>
      This application hosts a daily word game, originally inspired by <a
        href="https://hryanjones.com/guess-my-word/#">H Ryan Jones' "Guess My Word" web app</a>. Each guess will inform
      you whether it
      falls before or after the daily word. Every day a new word will become guessable. Good luck!
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul id="after" class="list-group"></ul>

    <p>
      <%= form({id: "guesser", action: guessPath(), method: "GET"}) { %>
      <img id="between-logo" src="<%= rootPath() %>assets/images/between.svg"
        alt="Page Break by Arthur Shlain from the Noun Project" />

      <label>
        <%= f.InputTag({name:"word", placeholder: t("input_placeholder"), autocomplete:"off", autocorrect:"off", autocapitalize:"off", spellcheck:"false", required:"true" }) %>
      </label>

      <button class="btn btn-primary" type="submit">Guess</button>
      <% } %>
    </p>

    <div id="completion">
      <p>🎉 You guessed "<span id="answer"></span>" correctly with <span id="guesses"></span> tries in <span
          id="minutes"></span> minutes, <span id="seconds"></span> seconds. Come back tomorrow for another! If you'd
        like to be added to the leaderboard or suggest tomorrow's word, fill out the form below.</p>

      <%= form({action: completePath(), method: "POST"}) { %>
      <label>
        <strong>Username:</strong>
        <%= f.InputTag({id:"username", placeholder: t("username_placeholder"), autocorrect:"off", autocapitalize:"off", spellcheck:"false", required:"true" }) %>
      </label>

      <label>
        <strong>Suggestion:</strong>
        <%= f.InputTag({id:"suggestion", placeholder: t("suggest_placeholder") }) %>
      </label>

      <button class="btn btn-success" type="submit">Submit</button>
      <% } %>
    </div>

    <ul id="before" class="list-group"></ul>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-12">
    <p style="float: left;">Yesterday's word: <strong><%= yesterday.Word %></strong></p>
    <p style="float: right;">
      Source: <a href="https://github.com/taiidani/guess-my-word">GitHub</a>
    </p>
  </div>
</div>

<div id="gutter" class="d-none">
  <li class="list-group-item guess">
    <span class="word"></span>
  </li>
</div>