<header>
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-sm-2 col-xs-2 logo">
        <a href="<%= rootPath() %>"><img src="<%= rootPath() %>assets/images/logo.svg"
            alt="Question by Gregor Cresnar from the Noun Project" /></a>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-10 titles">
        <h1><%= t("welcome_greeting") %></h1>
        <h2>
          <a href="https://github.com/taiidani/guess-my-word"><i class="fab fa-github" aria-hidden="true"></i>
            https://github.com/taiidani/guess-my-word</a>
        </h2>
      </div>
    </div>
  </div>
</header>

<div class="row">
  <div class="col-md-12">
    <p>
      This application hosts a daily word game, originally inspired by <a
        href="https://hryanjones.com/guess-my-word/#">H Ryan Jones' "Guess My Word" web app</a>. Each guess will inform
      you whether it
      falls before or after the daily word. Every day a new word will become guessable. Good luck!
    </p>

    <hr />

    <div>
      <ul id="after" class="list-group"></ul>

      <p>
        <%= form({id: "guesser", action: guessPath(), method: "GET"}) { %>
        <div class="row">
          <div class="col-md-1">
            <img id="between-logo" src="<%= rootPath() %>assets/images/between.svg"
              alt="Page Break by Arthur Shlain from the Noun Project" />
          </div>
          <div id="guess-box" class="offset-md-1">
            <label>
              <%= f.InputTag({name:"word", placeholder: t("input_placeholder"), autocomplete:"false" }) %>
            </label>

            <button class="btn btn-primary" type="submit">Guess</button>
          </div>
        </div>
        <% } %>
        </di>

        <ul id="before" class="list-group"></ul>
      </p>
    </div>
  </div>

  <div id="gutter" class="d-none">
    <li class="list-group-item guess">
      <span class="word"></span>
    </li>
  </div>