<div>
    <div><strong>Completions:</strong> {{ .Completions }}</div>
    <div><strong>Best Run:</strong> {{ .BestRun }}</div>
    <div><strong>Average Run:</strong> {{ .AvgRun }}</div>
    {{ if .Word }} <div><strong>Word:</strong> {{ .Word }}</div>{{ end }}
</div>
