name: test

on:
  push:
    branches:
      - "**"

jobs:
  go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3

      - name: Build
        run: mise run build

      - name: Upload
        uses: actions/upload-artifact@v6
        with:
          name: guess-my-word-app
          if-no-files-found: error
          path: guess-my-word

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3

      - name: Lint
        run: mise run lint

  playwright:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    needs: ["go"]
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3

      - name: Download App
        uses: actions/download-artifact@v7
        with:
          name: guess-my-word-app
          path: guess-my-word

      - name: Run Dependencies
        run: docker compose up -d --wait

      - name: Run App
        run: |
          chmod +x guess-my-word/guess-my-word
          ./guess-my-word/guess-my-word --help
          ./guess-my-word/guess-my-word &

      - working-directory: web
        run: npm ci

      - name: Install Playwright Browsers
        working-directory: web
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        working-directory: web
        run: npx playwright test

      - uses: actions/upload-artifact@v6
        if: always()
        with:
          name: playwright-report
          path: web/playwright-report/
          retention-days: 30
